<h2>🌸 Colección de Flores</h2>

<div class="lista">
  <app-tarjeta *ngFor="let f of flores" [flor]="f"></app-tarjeta>
</div>

<button (click)="agregarFlor()">➕ Agregar Flor</button>

<!-- Formulario invisible -->
<div *ngIf="mostrarFormulario" class="formulario">
  <h3>➕ Agregar nueva flor</h3>

  <form>
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nuevaFlor.nombre" name="nombre">

    <label>Descripción:</label>
    <textarea [(ngModel)]="nuevaFlor.descripcion" name="descripcion"></textarea>

    <label>Imagen (ruta en assets):</label>
    <input type="text" [(ngModel)]="nuevaFlor.imagen" name="imagen">

    <label>Temporada:</label>
    <input type="text" [(ngModel)]="nuevaFlor.temporada" name="temporada">

    <label>Precio:</label>
    <input type="number" [(ngModel)]="nuevaFlor.precio" name="precio">

    <div class="botones">
      <button type="button" (click)="guardarFlor()">Guardar</button>
      <button type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
